/*Condicionales*/
/*@if ($vista == escritorio){
     body{
         background-color: yellowgreen;
     }
}@else {
    body{
        background-color: blue;
    }
}*/
body {
  background-color: blue; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 6rem; }

h4 {
  font-size: 8rem; }

h5 {
  font-size: 10rem; }

h6 {
  font-size: 12rem; }

.pink {
  color: pink; }

.violet {
  color: violet; }

.tomato {
  color: tomato; }

.facebook {
  color: red; }

.instagram {
  color: violet; }

.twitter {
  color: blue; }

.clase {
  background-color: pink;
  font-size: 2rem; }

.primerEstilo, .segundoEstilo {
  font-size: 1.50rem;
  text-align: center;
  font-weight: bold;
  color: blue; }

.segundoEstilo {
  text-decoration: underline; }

.parrafosConEstilos {
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  font-size: 12px;
  text-align: center; }

.parrafosConHambre {
  font-size: 14px;
  text-align: center; }

body header {
  background-color: violet;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  body header h1 {
    margin: 15px; }
  body header nav {
    font-weight: bold;
    text-transform: uppercase; }
  body header li {
    display: inline-block; }
  body header a {
    text-decoration: none;
    margin: 15px;
    font-size: 1rem;
    color: green; }
    body header a:hover {
      color: white; }
